openapi: 3.2.0
info:
  title: Explorer Account Campaign Mapping API
  description: The entire API V2 documentation is interactive and can be tested here. To the right side of every endpoint you will see a box with an example request. You can click on the "Try it" button to send a request to the server right from the docs. You will need to provide an API key by clicking the `ApiKeyAuth_token` blue text.
  version: 2.0.0
servers:
- url: https://api.instantly.ai
  description: Instantly API Server
security:
- ApiKeyAuth: []
tags:
- name: AccountCampaignMapping
  description: Account Campaign Mapping
  x-group: Account Campaign Mapping
paths:
  /api/v2/account-campaign-mappings/{email}:
    get:
      operationId: getAccountCampaignMapping
      summary: Get campaigns associated with an email
      tags:
      - AccountCampaignMapping
      description: 'Requires one of the following scopes: `account_campaign_mappings:read`, `account_campaign_mappings:all`, `all:read`, `all:all`'
      parameters:
      - schema:
          type: number
          example: 10
        example: 10
        in: query
        name: limit
        required: false
      - schema:
          type: string
          example: '2025-03-07T00:00:00.000Z'
        example: '2025-03-07T00:00:00.000Z'
        in: query
        name: starting_after
        required: false
      - schema:
          type: string
          example: user@example.com
        example: user@example.com
        in: path
        name: email
        required: true
        description: Email
      responses:
        '200':
          description: The list of Account Campaign Mapping
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: The list of Account Campaign Mapping
                    items:
                      $ref: '#/components/schemas/AccountCampaignMapping'
                  next_starting_after:
                    type: string
                    examples:
                    - 019ffad2-9b0b-7bd4-8720-103e786cf662
                    - '2026-08-13T11:12:14.091Z'
                    description: The filter for getting the next items after this one, this could either be a UUID, a timestamp, on an email depending on the specific API
                    example: 019ffad2-9b0b-7bd4-8720-103e786cf662
                additionalProperties: false
                required:
                - items
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
components:
  schemas:
    AccountCampaignMapping:
      title: Account Campaign Mapping
      description: Account Campaign Mapping
      x-tags:
      - Schemas
      - AccountCampaignMapping
      type: object
      properties:
        campaign_id:
          type: string
          format: uuid
          example: 019ffad2-5c2e-7160-bab9-7ce54936e379
        campaign_name:
          type: string
          example: Campaign Name
        timestamp_created:
          type: string
          description: Timestamp when the campaign was created
          readOnly: true
          example: '2026-08-13T11:11:57.998Z'
        status:
          type: number
          description: Campaign Status
          enum:
          - -99
          - -1
          - -2
          - 0
          - 1
          - 2
          - 3
          - 4
          x-enumDescriptions:
            '0': Draft
            '1': Active
            '2': Paused
            '3': Completed
            '4': Running Subsequences
            '-99': Account Suspended
            '-1': Accounts Unhealthy
            '-2': Bounce Protect
          example: 1
      required:
      - campaign_id
      - campaign_name
      - timestamp_created
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
