openapi: 3.2.0
info:
  title: Explorer Workspace Billing API
  description: The entire API V2 documentation is interactive and can be tested here. To the right side of every endpoint you will see a box with an example request. You can click on the "Try it" button to send a request to the server right from the docs. You will need to provide an API key by clicking the `ApiKeyAuth_token` blue text.
  version: 2.0.0
servers:
- url: https://api.instantly.ai
  description: Instantly API Server
security:
- ApiKeyAuth: []
tags:
- name: WorkspaceBilling
  description: Workspace Billing
  x-group: Workspace Billing
paths:
  /api/v2/workspace-billing/plan-details:
    get:
      operationId: getWorkspacePlanDetails
      summary: Get workspace plan details
      tags:
      - WorkspaceBilling
      description: 'Requires one of the following scopes: `workspace_billing:read`, `workspace_billing:all`, `all:read`, `all:all`'
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization_id:
                    type: string
                    format: uuid
                    description: The id of workspace
                    example: 019ffad2-9ce6-7628-b369-14bf11f8efc3
                  organization_name:
                    type: string
                    description: The name of workspace
                    example: My Default Workspace
                  subscriptions:
                    type: object
                    properties:
                      outreach:
                        type: object
                        properties:
                          plan_name:
                            type: string
                            description: Plan name
                            example: Free Trial
                          addons_qty:
                            type: number
                            description: Addons total quantity
                            example: 2
                          total_lead_limit:
                            type: number
                            description: Total Outreach plan limit including addons
                            example: 100
                          current_lead_count:
                            type: number
                            description: Current number of leads counted toward the plan
                            example: 10
                          base_lead_limit:
                            type: number
                            description: Base Outreach plan limit without add-ons
                            example: 25000
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            description: The billing interval of the outreach subscription
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            description: Unix timestamp when the current outreach billing period ends
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            description: Unix timestamp when the outreach subscription will be canceled, null if not scheduled for cancellation
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            description: The outreach subscription price in dollars
                            example: 97
                          product_id:
                            type:
                            - 'null'
                            - string
                            description: The ID of the outreach plan subscribed to
                            enum:
                            - pid_ls_v1
                            - pid_hg_v1
                            - pid_g_v1
                            - pid_g_v2
                            - pid_nic_v1
                            - pid_nic_v1_annual
                            - pid_gic_v1
                            - pid_gic_v1_annual
                            - pid_sic_v1
                            - pid_sic_v1_annual
                            - pid_hic_v1
                            - pid_hic_v1_annual
                            - pid_verify_v1_monthly
                            - pid_hv_v1
                            - pid_hv_v1_annual
                            - pid_lsv_v1
                            - pid_lsv_v1_annual
                            - pid_crm_hg
                            - pid_crm_g
                            - pid_ip_g
                            - pid_ip_hg
                            - pid_addon_25kl_v1
                            - pid_addon_lf_10k_v1
                            - pid_addon_ic_50k_v1
                            - pid_addon_lf_10k_v1_annual
                            - pid_addon_ic_50k_v1_annual
                            - pid_bundle_starter_v1
                            - pid_bundle_scale_v1
                            - pid_bundle_scale_v2
                            - pid_bundle_agency_v1
                            - pid_bundle_agency_v2
                            - null
                            x-enumDescriptions:
                              pid_g_v1: Growth Plan
                              pid_g_v2: Growth Plan V2
                              pid_hg_v1: Hypergrowth Plan
                              pid_ls_v1: LightSpeed Plan
                              pid_nic_v1: Instantly Credits Nano
                              pid_nic_v1_annual: Instantly Credits Nano Annual
                              pid_gic_v1: Instantly Credits Growth
                              pid_gic_v1_annual: Instantly Credits Growth Annual
                              pid_sic_v1: Instantly Credits Supersonic
                              pid_sic_v1_annual: Instantly Credits Supersonic Annual
                              pid_hic_v1: Instantly Credits Hyper Leads
                              pid_hic_v1_annual: Instantly Credits Hyper Leads Annual
                              pid_verify_v1_monthly: Verification Monthly
                              pid_hv_v1: Website Visitor Hypergrowth Monthly
                              pid_hv_v1_annual: Website Visitor Hypergrowth Annual
                              pid_lsv_v1: Website Visitor Lightspeed Monthly
                              pid_lsv_v1_annual: Website Visitor Lightspeed Annual
                              pid_crm_hg: CRM
                              pid_crm_g: Growth CRM
                              pid_ip_g: Inbox Placement Growth Monthly
                              pid_ip_hg: Inbox Placement Hypergrowth Monthly
                              pid_addon_25kl_v1: Addon Lead 25K
                              pid_addon_lf_10k_v1: Addon Lead Finder
                              pid_addon_ic_50k_v1: Addon Instantly Credits
                              pid_addon_lf_10k_v1_annual: Addon Lead Finder Annual
                              pid_addon_ic_50k_v1_annual: Addon Instantly Credits Annual
                              pid_bundle_starter_v1: Bundle Starter
                              pid_bundle_scale_v1: Bundle Scale
                              pid_bundle_scale_v2: Bundle Scale V2
                              pid_bundle_agency_v1: Bundle Agency
                              pid_bundle_agency_v2: Bundle Agency V2
                            example: pid_g_v1
                      credits:
                        type: object
                        properties:
                          plan_name:
                            type: string
                            description: Instantly Credits plan name
                            example: Free Trial
                          total_credits:
                            type: number
                            description: Total Instantly Credits included in the current plan
                            example: 100
                          available_credits:
                            type: number
                            description: Available Instantly Credits balance for the workspace
                            example: 75
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            description: The billing interval of the Instantly Credits subscription
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            description: Unix timestamp when the current Instantly Credits billing period ends
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            description: Unix timestamp when the Instantly Credits subscription will be canceled, null if not scheduled for cancellation
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            description: The Instantly Credits subscription price in dollars
                            example: 97
                          product_id:
                            type:
                            - 'null'
                            - string
                            description: The ID of the Instantly Credits plan subscribed to
                            enum:
                            - pid_nic_v1
                            - pid_nic_v1_annual
                            - pid_gic_v1
                            - pid_gic_v1_annual
                            - pid_sic_v1
                            - pid_sic_v1_annual
                            - pid_hic_v1
                            - pid_hic_v1_annual
                            - null
                            example: pid_gic_v1
                          price_option_id:
                            type:
                            - 'null'
                            - string
                            description: The selected Instantly Credits price option ID
                            example: growth_2000
                      bundle:
                        type: object
                        properties:
                          plan_name:
                            type:
                            - 'null'
                            - string
                            example: Scale Bundle
                          total_lead_limit:
                            type: number
                            description: Total bundled Outreach contact limit
                            example: 25000
                          current_lead_count:
                            type: number
                            description: Current number of contacts counted toward the bundled Outreach limit
                            example: 10
                          base_lead_limit:
                            type: number
                            description: Base bundled Outreach contact limit
                            example: 25000
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            example: 265
                          product_id:
                            type:
                            - 'null'
                            - string
                            enum:
                            - pid_bundle_starter_v1
                            - pid_bundle_scale_v1
                            - pid_bundle_scale_v2
                            - pid_bundle_agency_v1
                            - pid_bundle_agency_v2
                            - null
                            example: pid_bundle_scale_v2
                      crm:
                        type: object
                        properties:
                          plan_name:
                            type:
                            - 'null'
                            - string
                            example: Growth CRM
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            example: 47
                          product_id:
                            type:
                            - 'null'
                            - string
                            example: pid_crm_g
                          available_credits:
                            type:
                            - 'null'
                            - number
                            example: null
                          plan_limit:
                            type:
                            - 'null'
                            - number
                            example: null
                      website_visitors:
                        type: object
                        properties:
                          plan_name:
                            type:
                            - 'null'
                            - string
                            example: Hyper Visitors
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            example: 97
                          product_id:
                            type:
                            - 'null'
                            - string
                            example: pid_hv_v1
                          available_credits:
                            type:
                            - 'null'
                            - number
                            example: 280
                          plan_limit:
                            type:
                            - 'null'
                            - number
                            example: 500
                      inbox_placement:
                        type: object
                        properties:
                          plan_name:
                            type:
                            - 'null'
                            - string
                            example: Growth Inbox Placement
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            example: month
                          current_period_end:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          cancel_at_time:
                            type:
                            - 'null'
                            - number
                            example: 1704067200
                          price_in_dollars:
                            type:
                            - 'null'
                            - number
                            example: 47
                          product_id:
                            type:
                            - 'null'
                            - string
                            example: pid_ip_g
                          available_credits:
                            type:
                            - 'null'
                            - number
                            example: null
                          plan_limit:
                            type:
                            - 'null'
                            - number
                            example: null
                  addons:
                    type: object
                    properties:
                      outreach:
                        type: object
                        properties:
                          product_id:
                            type: string
                            enum:
                            - pid_addon_25kl_v1
                            description: The product ID for the Outreach add-on.
                            example: pid_addon_25kl_v1
                          unit_lead_limit:
                            type: number
                            description: Number of additional contacts included in one add-on unit.
                            example: 25000
                          existing_quantity:
                            type: number
                            description: Current quantity of Outreach add-on units.
                            example: 2
                          max_quantity:
                            type: number
                            description: Maximum additional units selectable in one update.
                            example: 20
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            description: The current billing interval for the Outreach add-on subscription.
                            example: month
                          can_purchase:
                            type: boolean
                            description: Whether the workspace can purchase Outreach add-ons.
                            example: true
                          purchase_blocked_reason:
                            type:
                            - 'null'
                            - string
                            description: Reason add-on purchase is blocked, null when purchase is allowed.
                            example: advanced_outreach_plan_required
                          annual_discount_percent:
                            type: number
                            description: Annual billing discount percentage.
                            example: 20
                          monthly_pricing_tiers:
                            type: array
                            items:
                              type: object
                              properties:
                                from_quantity:
                                  type: number
                                  example: 1
                                to_quantity:
                                  type:
                                  - 'null'
                                  - number
                                  example: 5
                                price_in_dollars:
                                  type: number
                                  example: 87
                      credits:
                        type: object
                        properties:
                          product_id:
                            type: string
                            enum:
                            - pid_addon_ic_50k_v1
                            description: The monthly product ID for the Instantly Credits add-on.
                            example: pid_addon_ic_50k_v1
                          annual_product_id:
                            type: string
                            enum:
                            - pid_addon_ic_50k_v1_annual
                            description: The annual product ID for the Instantly Credits add-on.
                            example: pid_addon_ic_50k_v1_annual
                          unit_credits:
                            type: number
                            description: Number of additional monthly credits included in one add-on unit.
                            example: 50000
                          annual_unit_credits:
                            type: number
                            description: Number of additional annual credits included in one add-on unit.
                            example: 600000
                          existing_quantity:
                            type: number
                            description: Current quantity of Instantly Credits add-on units.
                            example: 2
                          max_quantity:
                            type: number
                            description: Maximum additional units selectable in one update.
                            example: 10
                          interval:
                            type:
                            - 'null'
                            - string
                            enum:
                            - day
                            - week
                            - month
                            - year
                            - null
                            description: The current billing interval for the Instantly Credits add-on subscription.
                            example: month
                          can_purchase:
                            type: boolean
                            description: Whether the workspace can purchase Instantly Credits add-ons.
                            example: true
                          purchase_blocked_reason:
                            type:
                            - 'null'
                            - string
                            description: Reason add-on purchase is blocked, null when purchase is allowed.
                            example: hyper_credits_plan_required
                          monthly_price_in_dollars:
                            type: number
                            description: Monthly price for one Instantly Credits add-on unit in dollars.
                            example: 425
                          annual_price_in_dollars:
                            type: number
                            description: Annual price for one Instantly Credits add-on unit in dollars.
                            example: 5100
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/workspace-billing/subscription-details:
    get:
      operationId: getWorkspaceSubscriptionDetails
      summary: Get workspace subscription details
      tags:
      - WorkspaceBilling
      description: 'Requires one of the following scopes: `workspace_billing:read`, `workspace_billing:all`, `all:read`, `all:all`'
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      type: object
                      properties:
                        workspace_id:
                          type: string
                          format: uuid
                          description: The ID of the workspace
                          example: 019ffad2-9ced-7732-80e2-44f826e6e3cf
                        interval:
                          type: string
                          enum:
                          - month
                          - year
                          description: The billing interval of the subscription
                          example: month
                        quantity:
                          type: number
                          description: The quantity of subscribed items
                          example: 1
                        product_id:
                          type: string
                          description: The Id of outreach plan subscribed to
                          enum:
                          - pid_ls_v1
                          - pid_hg_v1
                          - pid_g_v1
                          - pid_g_v2
                          - pid_nic_v1
                          - pid_nic_v1_annual
                          - pid_gic_v1
                          - pid_gic_v1_annual
                          - pid_sic_v1
                          - pid_sic_v1_annual
                          - pid_hic_v1
                          - pid_hic_v1_annual
                          - pid_verify_v1_monthly
                          - pid_hv_v1
                          - pid_hv_v1_annual
                          - pid_lsv_v1
                          - pid_lsv_v1_annual
                          - pid_crm_hg
                          - pid_crm_g
                          - pid_ip_g
                          - pid_ip_hg
                          - pid_addon_25kl_v1
                          - pid_addon_lf_10k_v1
                          - pid_addon_ic_50k_v1
                          - pid_addon_lf_10k_v1_annual
                          - pid_addon_ic_50k_v1_annual
                          - pid_bundle_starter_v1
                          - pid_bundle_scale_v1
                          - pid_bundle_scale_v2
                          - pid_bundle_agency_v1
                          - pid_bundle_agency_v2
                          x-enumDescriptions:
                            pid_g_v1: Growth Plan
                            pid_g_v2: Growth Plan V2
                            pid_hg_v1: Hypergrowth Plan
                            pid_ls_v1: LightSpeed Plan
                            pid_nic_v1: Instantly Credits Nano
                            pid_nic_v1_annual: Instantly Credits Nano Annual
                            pid_gic_v1: Instantly Credits Growth
                            pid_gic_v1_annual: Instantly Credits Growth Annual
                            pid_sic_v1: Instantly Credits Supersonic
                            pid_sic_v1_annual: Instantly Credits Supersonic Annual
                            pid_hic_v1: Instantly Credits Hyper Leads
                            pid_hic_v1_annual: Instantly Credits Hyper Leads Annual
                            pid_verify_v1_monthly: Verification Monthly
                            pid_hv_v1: Website Visitor Hypergrowth Monthly
                            pid_hv_v1_annual: Website Visitor Hypergrowth Annual
                            pid_lsv_v1: Website Visitor Lightspeed Monthly
                            pid_lsv_v1_annual: Website Visitor Lightspeed Annual
                            pid_crm_hg: CRM
                            pid_crm_g: Growth CRM
                            pid_ip_g: Inbox Placement Growth Monthly
                            pid_ip_hg: Inbox Placement Hypergrowth Monthly
                            pid_addon_25kl_v1: Addon Lead 25K
                            pid_addon_lf_10k_v1: Addon Lead Finder
                            pid_addon_ic_50k_v1: Addon Instantly Credits
                            pid_addon_lf_10k_v1_annual: Addon Lead Finder Annual
                            pid_addon_ic_50k_v1_annual: Addon Instantly Credits Annual
                            pid_bundle_starter_v1: Bundle Starter
                            pid_bundle_scale_v1: Bundle Scale
                            pid_bundle_scale_v2: Bundle Scale V2
                            pid_bundle_agency_v1: Bundle Agency
                            pid_bundle_agency_v2: Bundle Agency V2
                          example: pid_g_v1
                        product_type:
                          type: string
                          enum:
                          - prt_outreach
                          - prt_leadfinder
                          description: The type of product subscribed to
                          example: prt_outreach
                        plan_type:
                          type: string
                          enum:
                          - plt_addon
                          - plt_primary
                          description: The type of plan - either primary plan or addon
                          example: plt_primary
                        current_period_end:
                          type: number
                          description: Unix timestamp when the current billing period ends
                          example: 1704067200
                        cancel_at_time:
                          type:
                          - 'null'
                          - number
                          description: Unix timestamp when the subscription will be canceled, null if not scheduled for cancellation
                          example: 1704067200
                        price_in_dollars:
                          type: number
                          description: The price of the subscription in dollars
                          example: 97
                        price_id:
                          type: string
                          description: The Stripe price ID associated with this subscription
                          example: price_H5UMXtIFH7Rh9K
                  all_subs_cancelled:
                    type: boolean
                    description: Indicates whether all subscriptions are either already canceled or scheduled to be canceled at the end of their current billing cycles
                    example: false
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
