openapi: 3.2.0
info:
  title: Explorer Super Search Enrichment API
  description: The entire API V2 documentation is interactive and can be tested here. To the right side of every endpoint you will see a box with an example request. You can click on the "Try it" button to send a request to the server right from the docs. You will need to provide an API key by clicking the `ApiKeyAuth_token` blue text.
  version: 2.0.0
servers:
- url: https://api.instantly.ai
  description: Instantly API Server
security:
- ApiKeyAuth: []
tags:
- name: SuperSearchEnrichment
  description: An enrichment can take different forms, such as email enrichment or LinkedIn enrichment. Leads may be imported from SuperSearch using the dedicated endpoint, or enriched directly within a list or campaign by attaching an enrichment to it.
  x-group: SuperSearch Enrichment
paths:
  /api/v2/supersearch-enrichment/signal-keywords-facet:
    post:
      operationId: signalKeywordsFacet
      summary: Facet keywords for a signal category
      tags:
      - SuperSearchEnrichment
      description: 'Return the top matching keyword tokens for a given signal category and keyword field, aggregated from the last 90 days of signal data. Powers the Signals filter autocomplete in the Lead Finder. Unknown (category, field) pairs return 400.



        Requires one of the following scopes: `supersearch_enrichments:read`, `supersearch_enrichments:all`, `all:read`, `all:all`'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - category
              - field
              properties:
                category:
                  type: string
                  description: Signal category to facet against (e.g. `linkedin_post_contact`).
                  example: linkedin_post_contact
                field:
                  type: string
                  description: Indexed keyword field on `autobound_signals` to aggregate on.
                  example: tags
                prefix:
                  type: string
                  description: Optional case-insensitive prefix to narrow the tokens returned.
                  example: ai
                limit:
                  type: number
                  description: Max number of keyword buckets to return (1-100).
                  minimum: 1
                  maximum: 100
                  example: 20
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  keywords:
                    type: array
                    description: Keyword tokens ordered by descending frequency.
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                          description: The keyword token (lowercased).
                          example: artificial intelligence
                        count:
                          type: number
                          description: Number of signal records with this token in the last 90 days.
                          example: 22418
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/ai:
    post:
      operationId: createAIEnrichment
      summary: Create AI enrichment
      tags:
      - SuperSearchEnrichment
      description: 'Create an AI enrichment for a resource (list or campaign)



        Requires one of the following scopes: `supersearch_enrichments:create`, `supersearch_enrichments:all`, `all:create`, `all:all`'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - resource_id
              - output_column
              - resource_type
              - model_version
              properties:
                resource_id:
                  type: string
                  format: uuid
                  description: Id of the resource (list or campaign) to enrich
                  example: 01234567-89ab-cdef-0123-456789abcdef
                output_column:
                  type: string
                  description: Name of the column where the AI enrichment results will be stored
                  example: ai_generated_content
                resource_type:
                  type: number
                  enum:
                  - 1
                  - 2
                  x-enumDescriptions:
                    '1': Campaign
                    '2': List
                  description: Type of the entity to enrich
                  example: 2
                input_columns:
                  type: array
                  items:
                    type: string
                    example: first_name
                  description: List of column names to use as input data for the AI enrichment. These are the fields from your leads that will be used to generate content.
                model_version:
                  type: string
                  enum:
                  - '3.5'
                  - '4.0'
                  - gpt-4o
                  - o3
                  - gpt-4.1
                  - gpt-4.1-mini
                  - gpt-5-mini
                  - gpt-5-nano
                  - gpt-5
                  - gpt-5.4
                  - claude-4.5-sonnet
                  - claude-4.6-sonnet
                  - r1
                  - grok-4.3
                  - gemini-3.0-flash
                  - gemini-3.5-flash
                  - sonar
                  - sonar-pro
                  - instantly-ai-lightspeed-agent-for-web-research
                  - instantly-ai-lightspeed-agent-for-email-generation
                  x-enumDescriptions:
                    '3.5': GPT-3.5 Turbo - OpenAI's standard model with good performance and low cost
                    gpt-5: GPT-5 is OpenAI’s most advanced model, offering major improvements in reasoning, code quality, and user experience.
                    gpt-5.4: GPT-5.4 is the latest generation non-reasoning model, optimized for fast, high-quality responses at low latency.
                    gpt-5-mini: GPT-5 Mini is a compact version of GPT-5, designed to handle lighter-weight reasoning tasks.
                    gpt-5-nano: GPT-5-Nano is the smallest and fastest variant in the GPT-5 system, optimized for developer tools, rapid interactions, and ultra-low latency environments.
                    '4.0': GPT-4 - OpenAI's advanced model with improved reasoning
                    gpt-4o: GPT-4o - OpenAI's optimized model with improved performance
                    o3: o3 is a well-rounded and powerful model across domains. It sets a new standard for math, science, coding, and visual reasoning tasks.
                    gpt-4.1: GPT-4.1 is a flagship large language model optimized for advanced instruction following, real-world software engineering, and long-context reasoning.
                    gpt-4.1-mini: GPT-4.1 Mini is a mid-sized model delivering performance competitive with GPT-4o at substantially lower latency and cost.
                    claude-4.5-sonnet: Claude Sonnet 4.5 is Anthropic's most advanced Sonnet model to date, optimized for real-world agents and coding workflows.
                    claude-4.6-sonnet: Claude Sonnet 4.6 is Anthropic's latest Sonnet model, optimized for real-world agents and coding workflows.
                    r1: R1 - Deepseek's advanced chat model
                    grok-4.3: Grok 4.3 - X AI's latest reasoning model
                    gemini-3.0-flash: Gemini 3.0 Flash - Is a high speed, high value thinking model designed for agentic workflows, multi turn chat, and coding assistance
                    gemini-3.5-flash: Gemini 3.5 Flash - Google's high-speed flash model.
                    sonar: Sonar - Perplexity's lightweight, affordable, fast, and simple to use model.
                    sonar-pro: Sonar Pro  - Perplexity's most advanced model.
                    instantly-ai-lightspeed-agent-for-web-research: Instantly AI - LightSpeed Agent for Web Research
                    instantly-ai-lightspeed-agent-for-email-generation: Instantly AI - LightSpeed Agent for Email Generation
                  description: Version of the AI model to use for enrichment. Different models have different capabilities, costs, and token limits.
                  example: gpt-4o
                use_instantly_account:
                  type: boolean
                  description: When true, the enrichment will use Instantly's account for API calls. When false, it will use your own API keys configured in settings.
                  example: true
                overwrite:
                  type: boolean
                  description: When true, will overwrite existing values in the output column. When false, only empty fields will be enriched.
                  example: false
                auto_update:
                  type: boolean
                  description: When true, new leads added to the campaign/list will be automatically enriched using these same settings.
                  example: true
                skip_leads_without_email:
                  type: boolean
                  description: When true, leads without an email will be skipped.
                  example: false
                limit:
                  type: number
                  description: Maximum number of leads to enrich.
                  minimum: 1
                  maximum: 1000000
                  example: 100
                prompt:
                  type: string
                  description: Custom prompt to guide the AI enrichment. Use {{variables}} to reference input data. Only used when templateId is not provided.
                  example: Write a personalized email to {{first_name}} from {{company_name}} about our new product
                template_id:
                  type: string
                  description: ID of a predefined AI prompt template to use instead of a custom prompt. Templates are reusable prompt configurations.
                  example: '123'
                status:
                  type: number
                  enum:
                  - 1
                  - 2
                  - 3
                  - 4
                  x-enumDescriptions:
                    '1': Job is pending processing
                    '2': Job is currently being processed
                    '3': Job has been completed successfully
                    '4': Job processing failed
                  description: Status of the job
                  example: 1
                filters:
                  type: array
                  items:
                    type: object
                    properties: {}
                    description: Filters to apply to the enrichment
                    example:
                      column_name: email
                      type: 1
                      value:
                      - test@test.com
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the enrichment
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  resource_id:
                    type: string
                    format: uuid
                    description: ID of the resource being enriched
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  resource_type:
                    type: number
                    description: Type of the resource (1 for Campaign, 2 for List)
                    enum:
                    - CAMPAIGN
                    - LIST
                    - 1
                    - 2
                    x-enumDescriptions:
                      '1': Campaign
                      '2': List
                    example: 1
                  output_column:
                    type: string
                    description: Name of the column where results will be stored
                    example: ai_generated_content
                  status:
                    type: number
                    description: Status of the enrichment job
                    example: 1
                  model_version:
                    type: string
                    description: AI model version used for enrichment
                    example: gpt-4o
                  input_columns:
                    type: array
                    items:
                      type: string
                      example: first_name
                    description: Input columns used for enrichment
                  overwrite:
                    type: boolean
                    description: Whether to overwrite existing data
                    example: false
                  auto_update:
                    type: boolean
                    description: Whether to auto-update new leads
                    example: true
                  limit:
                    type: number
                    description: Maximum number of leads to process
                    example: 100
                  template_id:
                    type:
                    - 'null'
                    - string
                    description: ID of the prompt template used
                    example: '15762598695796759'
                required:
                - id
                - resource_id
                - resource_type
                - output_column
                - status
                - model_version
                - overwrite
                - auto_update
                additionalProperties: false
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/ai/{resource_id}/in-progress:
    get:
      operationId: getAiEnrichmentForResource
      summary: Get AI enrichment for resource
      tags:
      - SuperSearchEnrichment
      description: 'Get the AI enrichment for a specific resource



        Requires one of the following scopes: `supersearch_enrichments:read`, `supersearch_enrichments:all`, `all:read`, `all:all`'
      parameters:
      - schema:
          format: uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        example: 123e4567-e89b-12d3-a456-426614174000
        in: path
        name: resource_id
        required: true
        description: The ID of the list or campaign to retrieve the AI enrichment.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier for the enrichment
                      example: 01234567-89ab-cdef-0123-456789abcdef
                    organization_id:
                      type: string
                      format: uuid
                      description: Organization ID that owns this enrichment
                      example: 01234567-89ab-cdef-0123-456789abcdef
                    resource_id:
                      type: string
                      format: uuid
                      description: ID of the resource being enriched
                      example: 01234567-89ab-cdef-0123-456789abcdef
                    resource_type:
                      type: number
                      description: Type of the resource (1 for Campaign, 2 for List)
                      enum:
                      - CAMPAIGN
                      - LIST
                      - 1
                      - 2
                      x-enumDescriptions:
                        '1': Campaign
                        '2': List
                      example: 1
                    output_column:
                      type: string
                      description: Name of the column where results will be stored
                      example: ai_generated_content
                    status:
                      type: number
                      description: Status of the enrichment job
                      example: 1
                  required:
                  - organization_id
                  - resource_id
                  - resource_type
                  - output_column
                  - status
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/{resource_id}:
    get:
      operationId: getEnrichmentForResource
      summary: Get enrichment for resource
      tags:
      - SuperSearchEnrichment
      description: Get the enrichment for a specific resource
      parameters:
      - schema:
          format: uuid
          type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        example: 123e4567-e89b-12d3-a456-426614174000
        in: path
        name: resource_id
        required: true
        description: The ID of the list or campaign to retrieve the enrichment.
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_id:
                    type: string
                    format: uuid
                    description: ID of the resource being enriched
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  in_progress:
                    type: boolean
                    description: Whether the enrichment is in progress
                    example: false
                  has_no_leads:
                    type: boolean
                    description: Whether the enrichment for this resource returned no leads for these search filters. This is only applicable for enrichments created from SuperSearch.
                    example: false
                  exists:
                    type: boolean
                    description: Whether the enrichment exists
                    example: true
                  enrichment_payload:
                    type: object
                    description: Enrichment types
                    minProperties: 1
                    properties:
                      work_email_enrichment:
                        type: boolean
                        example: true
                      fully_enriched_profile:
                        type: boolean
                        example: true
                      email_verification:
                        type: boolean
                        example: false
                      joblisting:
                        type: boolean
                        example: true
                      technologies:
                        type: boolean
                        example: true
                      news:
                        type: boolean
                        example: true
                      funding:
                        type: boolean
                        example: true
                      engagement_score:
                        type: boolean
                        example: true
                      ai_enrichment:
                        type: object
                        additionalProperties: true
                      custom_flow:
                        type: array
                        items:
                          type: string
                          example: leadmagic
                        example:
                        - leadmagic
                        - prospeo
                        - hunter
                      limit:
                        type: number
                        description: Maximum number of leads to enrich
                        example: 10
                      autofill:
                        type: boolean
                        description: Whether to automatically fill in missing lead information
                        example: true
                    additionalProperties: true
                  auto_update:
                    type: boolean
                    description: Whether leads added to the list will be automatically enriched
                    example: false
                  is_evergreen:
                    type: boolean
                    description: Whether the enrichment is evergreen
                    example: false
                  search_filters:
                    type: object
                    description: Search filters used to create this enrichment (only present for enrichments created from SuperSearch)
                    additionalProperties: true
                required:
                - resource_id
                - enrichment_payload
                additionalProperties: false
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/:
    post:
      operationId: createSuperSearchEnrichment
      summary: Create an enrichment
      tags:
      - SuperSearchEnrichment
      description: Create an enrichment for a specific resource (list or campaign). This is the main endpoint for adding enrichments to resources. The enrichments are automatically run after creation.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - resource_id
              properties:
                resource_id:
                  type: string
                  format: uuid
                  description: Unique identifier for the resource (list or campaign)
                  example: 01234567-89ab-cdef-0123-456789abcdef
                type:
                  type: string
                  enum:
                  - work_email_enrichment
                  - fully_enriched_profile
                  - email_verification
                  - joblisting
                  - technologies
                  - news
                  - funding
                  - engagement_score
                  - ai_enrichment
                  - custom_flow
                  x-enumDescriptions:
                    work_email_enrichment: Work Email Enrichment
                    fully_enriched_profile: LinkedIn Enrichment
                    email_verification: Email Verification
                    joblisting: Job Listing Enrichment
                    technologies: Technologies Enrichment
                    news: News Enrichment
                    funding: Funding Enrichment
                    ai_enrichment: AI Enrichment
                    custom_flow: Custom Flow Enrichment
                  description: Enrichment type to add to the resource
                  example: email_verification
                limit:
                  type: number
                  description: Maximum number of leads to enrich.
                  minimum: 1
                  maximum: 50000
                  example: 100
                filters:
                  type: array
                  description: Filters to apply to the enrichment
                  items:
                    type: object
                custom_flow:
                  type: array
                  description: Custom flow to apply to the enrichment
                  items:
                    type: string
                    example: instantly
                integration_actions:
                  type: object
                  description: Provider-keyed integration actions to run against the resource. Mutually exclusive with `type` — either run a built-in enrichment via `type` or supply `integration_actions` to run one or more provider actions. Outer keys are provider IDs (e.g. `findymail`, `apify`); inner keys are action IDs offered by that provider (e.g. `findymail_find_email`). Each action requires a `mapping` object whose keys are the action's declared input fields and whose values are the lead column names to read from.
                  minProperties: 1
                  additionalProperties:
                    type: object
                    minProperties: 1
                    additionalProperties:
                      type: object
                      required:
                      - mapping
                      properties:
                        mapping:
                          type: object
                          description: Maps action input field keys to a lead column name (column inputs) or a literal value (text/list inputs; a list input takes a comma-separated string).
                          additionalProperties:
                            type: string
                            examples:
                            - firstName
                            - lastName
                            - website
                            example: firstName
                  example:
                    findymail:
                      findymail_find_email:
                        mapping:
                          first_name: firstName
                          last_name: lastName
                          domain: website
        required: true
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the enrichment
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  limit:
                    type: number
                    description: The maximum number of leads to enrich
                    example: 100
                  organization_id:
                    type: string
                    format: uuid
                    description: Organization ID that created this enrichment
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  resource_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the entity to enrich leads into
                    example: 01234567-89ab-cdef-0123-456789abcdef
                  enrichment_payload:
                    type: object
                    description: The enrichment configuration payload
                    properties:
                      joblisting:
                        type: boolean
                        description: Whether job listing enrichment is enabled
                        example: true
                      email_verification:
                        type: boolean
                        description: Whether email verification is enabled
                        example: true
                      work_email_enrichment:
                        type: boolean
                        description: Whether work email enrichment is enabled
                        example: true
                      fully_enriched_profile:
                        type: boolean
                        description: Whether fully enriched profile is enabled
                        example: true
                      custom_flow:
                        type: array
                        items:
                          type: string
                          example: instantly
                    additionalProperties: true
                required:
                - id
                - organization_id
                - resource_id
                additionalProperties: false
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/{resource_id}/settings:
    patch:
      operationId: updateEnrichmentSettingsForResource
      summary: Update enrichment settings for resource
      tags:
      - SuperSearchEnrichment
      description: 'Update auto-update and skip settings for a SuperSearch enrichment tied to a specific resource



        Requires one of the following scopes: `supersearch_enrichments:create`, `supersearch_enrichments:all`, `all:create`, `all:all`'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_update:
                  type: boolean
                  description: Whether new leads added to the resource will be automatically enriched
                  example: true
                skip_rows_without_email:
                  type: boolean
                  description: Whether the fully enriched profile enrichment will run even if we don't find an email
                  example: true
                is_evergreen:
                  type: boolean
                  description: Whether the enrichment is evergreen
                  example: true
      parameters:
      - schema:
          type: string
          format: uuid
          example: 01234567-89ab-cdef-0123-456789abcdef
        example: 01234567-89ab-cdef-0123-456789abcdef
        in: path
        name: resource_id
        required: true
        description: Unique identifier for the resource (list or campaign)
      responses:
        '200':
          description: The requested SuperSearch Enrichment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperSearchEnrichment'
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/supersearch-enrichment/enrich-leads-from-supersearch:
    post:
      operationId: enrichLeadsFromSupersearch
      summary: Enrich leads from supersearch
      tags:
      - SuperSearchEnrichment
      description: Add leads from SuperSearch to a list and enrich them. A list is automatically created if no list is provided.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - search_filters
              - limit
              properties:
                search_filters:
                  type: object
                  description: Search filters to find leads.
                  properties:
                    company_list_id:
                      type: string
                      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
                      description: Company-list audience boundary. Only completed lists owned by the caller workspace are accepted.
                      example: 018f23b7-92bb-7c64-a3d4-1ba53b8ad971
                    locations:
                      oneOf:
                      - type: array
                        description: 'Legacy format: Array of locations to include in the search. For new integrations, use the object format with include/exclude properties.'
                        items:
                          oneOf:
                          - type: object
                            properties:
                              place_id:
                                type: string
                                examples:
                                - ChIJN1t_t3uEmsRUso9K6W47H4
                                description: Google Maps Place ID of the lead's location (https://developers.google.com/maps/documentation/places/web-service/place-id)
                                example: ChIJN1t_t3uEmsRUso9K6W47H4
                              label:
                                type: string
                                examples:
                                - San Francisco, CA, USA
                                description: Label of the lead's location
                                example: San Francisco, CA, USA
                            required:
                            - place_id
                            additionalProperties: false
                          - type: object
                            properties:
                              city:
                                type: string
                                examples:
                                - San Francisco
                                description: City of the lead
                                example: San Francisco
                              state:
                                type: string
                                examples:
                                - California
                                description: State of the lead
                                example: California
                              country:
                                type: string
                                examples:
                                - United States
                                description: Country of the lead
                                example: United States
                            anyOf:
                            - required:
                              - city
                            - required:
                              - state
                            - required:
                              - country
                            additionalProperties: false
                      - type: object
                        description: Locations to include or exclude in the search
                        properties:
                          include:
                            type: array
                            items:
                              oneOf:
                              - type: object
                                properties:
                                  place_id:
                                    type: string
                                    examples:
                                    - ChIJN1t_t3uEmsRUso9K6W47H4
                                    description: Google Maps Place ID of the lead's location (https://developers.google.com/maps/documentation/places/web-service/place-id)
                                    example: ChIJN1t_t3uEmsRUso9K6W47H4
                                  label:
                                    type: string
                                    examples:
                                    - San Francisco, CA, USA
                                    description: Label of the lead's location
                                    example: San Francisco, CA, USA
                                required:
                                - place_id
                                additionalProperties: false
                              - type: object
                                properties:
                                  city:
                                    type: string
                                    examples:
                                    - San Francisco
                                    description: City of the lead
                                    example: San Francisco
                                  state:
                                    type: string
                                    examples:
                                    - California
                                    description: State of the lead
                                    example: California
                                  country:
                                    type: string
                                    examples:
                                    - United States
                                    description: Country of the lead
                                    example: United States
                                anyOf:
                                - required:
                                  - city
                                - required:
                                  - state
                                - required:
                                  - country
                                additionalProperties: false
                            description: Locations to include in the search
                          exclude:
                            type: array
                            items:
                              oneOf:
                              - type: object
                                properties:
                                  place_id:
                                    type: string
                                    examples:
                                    - ChIJN1t_t3uEmsRUso9K6W47H4
                                    description: Google Maps Place ID of the lead's location (https://developers.google.com/maps/documentation/places/web-service/place-id)
                                    example: ChIJN1t_t3uEmsRUso9K6W47H4
                                  label:
                                    type: string
                                    examples:
                                    - San Francisco, CA, USA
                                    description: Label of the lead's location
                                    example: San Francisco, CA, USA
                                required:
                                - place_id
                                additionalProperties: false
                              - type: object
                                properties:
                                  city:
                                    type: string
                                    examples:
                                    - San Francisco
                                    description: City of the lead
                                    example: San Francisco
                                  state:
                                    type: string
                                    examples:
                                    - California
                                    description: State of the lead
                                    example: California
                                  country:
                                    type: string
                                    examples:
                                    - United States
                                    description: Country of the lead
                                    example: United States
                                anyOf:
                                - required:
                                  - city
                                - required:
                                  - state
                                - required:
                                  - country
                                additionalProperties: false
                            description: Locations to exclude from the search
                    department:
                      type: array
                      items:
                        type: string
                        enum:
                        - Engineering
                        - Finance & Administration
                        - Human Resources
                        - IT & IS
                        - Marketing
                        - Operations
                        - Sales
                        - Support
                        - Other
                        x-enumDescriptions:
                          Engineering: Engineering
                          Finance & Administration: Finance & Administration
                          Human Resources: Human Resources
                          IT & IS: IT & IS
                          Marketing: Marketing
                          Operations: Operations
                          Sales: Sales
                          Support: Support
                          Other: Other
                        description: Department of the lead
                        example: Engineering
                    level:
                      type: array
                      items:
                        type: string
                        enum:
                        - C-Level
                        - VP-Level
                        - Director-Level
                        - Manager-Level
                        - Staff
                        - Entry level
                        - Mid-Senior level
                        - Director
                        - Associate
                        - Owner
                        - Executive
                        - Manager
                        - Senior
                        - Chief X Officer (CxO)
                        - Internship
                        - Vice President (VP)
                        - Unpaid / Internship
                        - Partner
                        x-enumDescriptions:
                          C-Level: C-Level
                          VP-Level: VP-Level
                          Director-Level: Director-Level
                          Manager-Level: Manager-Level
                          Staff: Staff
                          Entry level: Entry level
                          Mid-Senior level: Mid-Senior level
                          Director: Director
                          Associate: Associate
                          Owner: Owner
                          Executive: Executive
                          Manager: Manager
                          Senior: Senior
                          Chief X Officer (CxO): Chief X Officer (CxO)
                          Internship: Internship
                          Vice President (VP): Vice President (VP)
                          Unpaid / Internship: Unpaid / Internship
                          Partner: Partner
                        description: Level of the lead
                        example: Entry level
                    employeeCount:
                      type: array
                      description: Employee count filters.
                      items:
                        oneOf:
                        - type: string
                          enum:
                          - 0 - 25
                          - 25 - 100
                          - 100 - 250
                          - 250 - 1000
                          - 1K - 10K
                          - 10K - 50K
                          - 50K - 100K
                          - '> 100K'
                          description: 'Legacy format: Predefined employee count range'
                          x-enumDescriptions:
                            0 - 25: 0 - 25
                            25 - 100: 25 - 100
                            100 - 250: 100 - 250
                            250 - 1000: 250 - 1000
                            1K - 10K: 1K - 10K
                            10K - 50K: 10K - 50K
                            50K - 100K: 50K - 100K
                            '> 100K': '> 100K'
                          examples:
                          - 0 - 25
                          example: 0 - 25
                        - type: object
                          description: Employee count greater-than-or-equal range
                          properties:
                            op:
                              type: string
                              enum:
                              - gte
                              description: Greater than or equal operation.
                              examples:
                              - gte
                              example: gte
                            min:
                              type: number
                              description: Minimum employee count (inclusive).
                              examples:
                              - 50
                              example: 50
                            max:
                              type:
                              - number
                              - 'null'
                              description: Deprecated opposite bound accepted for compatibility and removed during normalization.
                          required:
                          - op
                          - min
                          additionalProperties: false
                        - type: object
                          description: Employee count less-than-or-equal range
                          properties:
                            op:
                              type: string
                              enum:
                              - lte
                              description: Less than or equal operation.
                              examples:
                              - lte
                              example: lte
                            max:
                              type: number
                              description: Maximum employee count (inclusive).
                              examples:
                              - 200
                              example: 200
                            min:
                              type:
                              - number
                              - 'null'
                              description: Deprecated opposite bound accepted for compatibility and removed during normalization.
                          required:
                          - op
                          - max
                          additionalProperties: false
                        - type: object
                          description: Custom employee count bounded range
                          properties:
                            op:
                              type: string
                              enum:
                              - between
                              description: Between operation.
                              examples:
                              - between
                              example: between
                            min:
                              type:
                              - number
                              - 'null'
                              description: Minimum employee count (inclusive).
                              examples:
                              - 50
                              example: 50
                            max:
                              type:
                              - number
                              - 'null'
                              description: Maximum employee count (inclusive).
                              examples:
                              - 200
                              example: 200
                          required:
                          - op
                          anyOf:
                          - required:
                            - min
                            properties:
                              min:
                                type: number
                          - required:
                            - max
                            properties:
                              max:
                                type: number
                          additionalProperties: false
                        - type: object
                          description: Preset employee count bounded range
                          properties:
                            op:
                              type: string
                              enum:
                              - preset_between
                              description: Preset between operation.
                              examples:
                              - preset_between
                              example: preset_between
                            min:
                              type:
                              - number
                              - 'null'
                              description: Minimum employee count (inclusive).
                              examples:
                              - 50
                              example: 50
                            max:
                              type:
                              - number
                              - 'null'
                              description: Maximum employee count (inclusive).
                              examples:
                              - 200
                              example: 200
                          required:
                          - op
                          anyOf:
                          - required:
                            - min
                            properties:
                              min:
                                type: number
                          - required:
                            - max
                            properties:
                              max:
                                type: number
                          additionalProperties: false
                    revenue:
                      type: array
                      items:
                        type: string
                        enum:
                        - $0 - 1M
                        - $1 - 10M
                        - $10 - 50M
                        - $50 - 100M
                        - $100 - 250M
                        - $250 - 500M
                        - $500M - 1B
                        - '> $1B'
                        x-enumDescriptions:
                          $0 - 1M: $0 - 1M
                          $1 - 10M: $1M - 10M
                          $10 - 50M: $10M - 50M
                          $50 - 100M: $50M - 100M
                          $100 - 250M: $100M - 250M
                          $250 - 500M: $250M - 500M
                          $500M - 1B: $500M - 1B
                          '> $1B': '> $1B'
                        description: Revenue of the lead company
                        example: $1 - 10M
                    news:
                      type: array
                      items:
                        type: string
                        enum:
                        - launches
                        - expands_offices_to
                        - hires
                        - partners_with
                        - leaves
                        - receives_financing
                        - recognized_as
                        - closes_offices_in
                        - is_developing
                        - has_issues_with
                        - promotes
                        - opens_new_location
                        - receives_award
                        - acquires
                        - invests_into_assets
                        - signs_new_client
                        - increases_headcount_by
                        - retires_from
                        - invests_into
                        - integrates_with
                        - expands_facilities
                        - goes_public
                        - sells_assets_to
                        - identified_as_competitor_of
                        - decreases_headcount_by
                        - expands_offices_in
                        - files_suit_against
                        - merges_with
                        x-enumDescriptions:
                          launches: Launches
                          expands_offices_to: Expands Offices To
                          hires: Hires
                          partners_with: Partners With
                          leaves: Leaves
                          receives_financing: Receives Financing
                          recognized_as: Recognized As
                          closes_offices_in: Closes Offices In
                          is_developing: Is Developing
                          has_issues_with: Has Issues With
                          promotes: Promotes
                          opens_new_location: Opens New Location
                          receives_award: Receives Award
                          acquires: Acquires
                          invests_into_assets: Invests Into Assets
                          signs_new_client: Signs New Client
                          increases_headcount_by: Increases Headcount By
                          retires_from: Retires From
                          invests_into: Invests Into
                          integrates_with: Integrates With
                          expands_facilities: Expands Facilities
                          goes_public: Goes Public
                          sells_assets_to: Sells Assets To
                          identified_as_competitor_of: Identified As Competitor Of
                          decreases_headcount_by: Decreases Headcount By
                          expands_offices_in: Expands Offices In
                          files_suit_against: Files Suit Against
                          merges_with: Merges With
                        description: News about the lead company
                        example: launches
                    jobListing:
                      type: array
                      items:
                        type: string
                        example: Software Engineer
                      description: Canonical filter for companies that are hiring for the specified job titles.
                    jobListingFilter:
                      type: array
                      deprecated: true
                      items:
                        type: string
                        example: Software Engineer
                      description: Deprecated compatibility key for Job Listing filters. Use `jobListing` instead. If both keys are present, `jobListing` takes precedence.
                    title:
                      type: object
                      properties:
                        include:
                          type: array
                          items:
                            type: string
                            example: CEO
                          description: Titles of the lead to include in the search
                        exclude:
                          type: array
                          items:
                            type: string
                            example: VP
                          description: Titles of the lead to exclude in the search
                    name:
                      type: array
                      items:
                        type: string
                        example: John Doe
                      description: Names of the lead to include in the search
                    company_name:
                      type: object
                      properties:
                        include:
                          type: array
                          items:
                            type: string
                            example: Google
                          description: Companies of the lead to include in the search
                        exclude:
                          type: array
                          items:
                            type: string
                            example: Amazon
                          description: Companies of the lead to exclude in the search
                    look_alike:
                      type: string
                      description: If set, the lead finder will find companies that are similar to the look-alike domain
                      example: google.com
                    lookAlike:
                      type: string
                      description: Product-UI alias of `look_alike`; both keys are accepted
                      example: google.com
                    lookAlikeMode:
                      type: string
                      description: How to interpret the look-alike domain (`targeted` or `broad`). Written by the product UI.
                      example: targeted
                    technologies:
                      type: array
                      items:
                        type: string
                        example: Salesforce
                      description: Technologies the lead company uses
                    fundingType:
                      type: array
                      items:
                        type: string
                        example: seed
                      description: Product-UI alias of `funding_type`; both keys are accepted. See `funding_type` for the canonical values.
                    locationMode:
                      type: string
                      description: Product-UI alias of `location_mode` (`contact` or `company`); both keys are accepted
                      example: contact
                    keyword_filter:
                      type: object
                      properties:
                        exclude:
                          type: string
                          example: sales
                        include:
                          type: string
                          example: marketing
                        include_mode:
                          type: string
                          enum:
                          - ANY
                          - ALL
                          example: ANY
                    industry:
                      type: object
                      properties:
                        exclude:
                          type: array
                          items:
                            type: string
                            enum:
                            - Agriculture & Mining
                            - Business Services
                            - Computers & Electronics
                            - Consumer Services
                            - Education
                            - Energy & Utilities
                            - Financial Services
                            - Government
                            - Healthcare, Pharmaceuticals, & Biotech
                            - Manufacturing
                            - Media & Entertainment
                            - Non-Profit
                            - Other
                            - Real Estate & Construction
                            - Retail
                            - Software & Internet
                            - Telecommunications
                            - Transportation & Storage
                            - Travel, Recreation, and Leisure
                            - Wholesale & Distribution
                            x-enumDescriptions:
                              Agriculture & Mining: Agriculture & Mining
                              Business Services: Business Services
                              Financial Services: Financial Services
                              Computers & Electronics: Computers & Electronics
                              Consumer Services: Consumer Services
                              Education: Education
                              Energy & Utilities: Energy & Utilities
                              Healthcare, Pharmaceuticals, & Biotech: Healthcare, Pharmaceuticals, & Biotech
                              Manufacturing: Manufacturing
                              Media & Entertainment: Media & Entertainment
                              Non-Profit: Non-Profit
                              Other: Other
                              Real Estate & Construction: Real Estate & Construction
                              Retail: Retail
                              Software & Internet: Software & Internet
                              Telecommunications: Telecommunications
                              Transportation & Storage: Transportation & Storage
                              Travel, Recreation, and Leisure: Travel, Recreation, and Leisure
                              Wholesale & Distribution: Wholesale & Distribution
                              Government: Government
                            example: Agriculture & Mining
                          description: Industries of the lead company to exclude in the search
                        include:
                          type: array
                          items:
                            type: string
                            enum:
                            - Agriculture & Mining
                            - Business Services
                            - Computers & Electronics
                            - Consumer Services
                            - Education
                            - Energy & Utilities
                            - Financial Services
                            - Government
                            - Healthcare, Pharmaceuticals, & Biotech
                            - Manufacturing
                            - Media & Entertainment
                            - Non-Profit
                            - Other
                            - Real Estate & Construction
                            - Retail
                            - Software & Internet
                            - Telecommunications
                            - Transportation & Storage
                            - Travel, Recreation, and Leisure
                            - Wholesale & Distribution
                            x-enumDescriptions:
                              Agriculture & Mining: Agriculture & Mining
                              Business Services: Business Services
                              Financial Services: Financial Services
                              Computers & Electronics: Computers & Electronics
                              Consumer Services: Consumer Services
                              Education: Education
                              Energy & Utilities: Energy & Utilities
                              Healthcare, Pharmaceuticals, & Biotech: Healthcare, Pharmaceuticals, & Biotech
                              Manufacturing: Manufacturing
                              Media & Entertainment: Media & Entertainment
                              Non-Profit: Non-Profit
                              Other: Other
                              Real Estate & Construction: Real Estate & Construction
                              Retail: Retail
                              Software & Internet: Software & Internet
                              Telecommunications: Telecommunications
                              Transportation & Storage: Transportation & Storage
                              Travel, Recreation, and Leisure: Travel, Recreation, and Leisure
                              Wholesale & Distribution: Wholesale & Distribution
                              Government: Government
                            description: Industries of the lead company to include in the search
                            example: Agriculture & Mining
                    subIndustry:
                      type: object
                      properties:
                        exclude:
                          type: array
                          items:
                            type: string
                            enum:
                            - Dairy
                            - Farming
                            - Fishery
                            - Food & Beverages
                            - Food Production
                            - Mining & Metals
                            - Paper & Forest Products
                            - Ranching
                            - Tobacco
                            - Alternative Dispute Resolution
                            - Animation
                            - Business Supplies and Equipment
                            - Design
                            - Environmental Services
                            - Events Services
                            - Executive Office
                            - Facilities Services
                            - Fund-Raising
                            - Graphic Design
                            - Human Resources
                            - Import and Export
                            - Individual & Family Services
                            - Information Services
                            - International Trade and Development
                            - Law Practice
                            - Legal Services
                            - Management Consulting
                            - Market Research
                            - Marketing and Advertising
                            - Outsourcing/Offshoring
                            - Professional Training & Coaching
                            - Program Development
                            - Public Relations and Communications
                            - Public Safety
                            - Security and Investigations
                            - Staffing and Recruiting
                            - Think Tanks
                            - Translation and Localization
                            - Writing and Editing
                            - Computer Games
                            - Computer Hardware
                            - Computer Networking
                            - Consumer Electronics
                            - Semiconductors
                            - Consumer Goods
                            - Consumer Services
                            - Education Management
                            - E-Learning
                            - Higher Education
                            - Primary/Secondary Education
                            - Research
                            - Oil & Energy
                            - Renewables & Environment
                            - Utilities
                            - Accounting
                            - Banking
                            - Capital Markets
                            - Financial Services
                            - Insurance
                            - Investment Banking
                            - Investment Management
                            - Venture Capital & Private Equity
                            - Defense & Space
                            - Government Administration
                            - Government Relations
                            - International Affairs
                            - Judiciary
                            - Law Enforcement
                            - Legislative Office
                            - Military
                            - Museums and Institutions
                            - Public Policy
                            - Alternative Medicine
                            - Biotechnology
                            - Health, Wellness and Fitness
                            - Hospital & Health Care
                            - Medical Devices
                            - Medical Practice
                            - Mental Health Care
                            - Pharmaceuticals
                            - Veterinary
                            - Automotive
                            - Aviation & Aerospace
                            - Chemicals
                            - Electrical/Electronic Manufacturing
                            - Furniture
                            - Industrial Automation
                            - Machinery
                            - Mechanical or Industrial Engineering
                            - Plastics
                            - Railroad Manufacture
                            - Shipbuilding
                            - Textiles
                            - Broadcast Media
                            - Media Production
                            - Motion Pictures and Film
                            - Music
                            - Newspapers
                            - Online Media
                            - Printing
                            - Publishing
                            - Civic & Social Organization
                            - Libraries
                            - Non-Profit Organization Management
                            - Philanthropy
                            - Political Organization
                            - Religious Institutions
                            - Arts and Crafts
                            - Nanotechnology
                            - Architecture & Planning
                            - Building Materials
                            - Civil Engineering
                            - Commercial Real Estate
                            - Construction
                            - Glass, Ceramics & Concrete
                            - Real Estate
                            - Apparel & Fashion
                            - Cosmetics
                            - Luxury Goods & Jewelry
                            - Retail
                            - Supermarkets
                            - Computer & Network Security
                            - Computer Software
                            - Information Technology and Services
                            - Internet
                            - Telecommunications
                            - Wireless
                            - Airlines/Aviation
                            - Logistics and Supply Chain
                            - Maritime
                            - Package/Freight Delivery
                            - Packaging and Containers
                            - Warehousing
                            - Transportation/Trucking/Railroad
                            - Entertainment
                            - Fine Art
                            - Gambling & Casinos
                            - Hospitality
                            - Leisure, Travel & Tourism
                            - Performing Arts
                            - Photography
                            - Recreational Facilities and Services
                            - Restaurants
                            - Sporting Goods
                            - Sports
                            - Wine and Spirits
                            - Wholesale
                            x-enumDescriptions:
                              Dairy: Dairy
                              Farming: Farming
                              Fishery: Fishery
                              Food & Beverages: Food & Beverages
                              Food Production: Food Production
                              Mining & Metals: Mining & Metals
                              Paper & Forest Products: Paper & Forest Products
                              Ranching: Ranching
                              Tobacco: Tobacco
                              Alternative Dispute Resolution: Alternative Dispute Resolution
                              Animation: Animation
                              Business Supplies and Equipment: Business Supplies and Equipment
                              Design: Design
                              Environmental Services: Environmental Services
                              Events Services: Events Services
                              Executive Office: Executive Office
                              Facilities Services: Facilities Services
                              Fund-Raising: Fund-Raising
                              Graphic Design: Graphic Design
                              Human Resources: Human Resources
                              Import and Export: Import and Export
                              Individual & Family Services: Individual & Family Services
                              Information Services: Information Services
                              International Trade and Development: International Trade and Development
                              Law Practice: Law Practice
                              Legal Services: Legal Services
                              Management Consulting: Management Consulting
                              Market Research: Market Research
                              Marketing and Advertising: Marketing and Advertising
                              Outsourcing/Offshoring: Outsourcing/Offshoring
                              Professional Training & Coaching: Professional Training & Coaching
                              Program Development: Program Development
                              Public Relations and Communications: Public Relations and Communications
                              Public Safety: Public Safety
                              Security and Investigations: Security and Investigations
                              Staffing and Recruiting: Staffing and Recruiting
                              Think Tanks: Think Tanks
                              Translation and Localization: Translation and Localization
                              Writing and Editing: Writing and Editing
                              Computer Games: Computer Games
                              Computer Hardware: Computer Hardware
                              Computer Networking: Computer Networking
                              Consumer Electronics: Consumer Electronics
                              Semiconductors: Semiconductors
                              Consumer Goods: Consumer Goods
                              Consumer Services: Consumer Services
                              Education Management: Education Management
                              E-Learning: E-Learning
                              Higher Education: Higher Education
                              Primary/Secondary Education: Primary/Secondary Education
                              Research: Research
                              Oil & Energy: Oil & Energy
                              Renewables & Environment: Renewables & Environment
                              Utilities: Utilities
                              Accounting: Accounting
                              Banking: Banking
                              Capital Markets: Capital Markets
                              Financial Services: Financial Services
                              Insurance: Insurance
                              Investment Banking: Investment Banking
                              Investment Management: Investment Management
                              Venture Capital & Private Equity: Venture Capital & Private Equity
                              Defense & Space: Defense & Space
                              Government Administration: Government Administration
                              Government Relations: Government Relations
                              International Affairs: International Affairs
                              Judiciary: Judiciary
                              Law Enforcement: Law Enforcement
                              Legislative Office: Legislative Office
                              Military: Military
                              Museums and Institutions: Museums and Institutions
                              Public Policy: Public Policy
                              Alternative Medicine: Alternative Medicine
                              Biotechnology: Biotechnology
                              Health, Wellness and Fitness: Health, Wellness and Fitness
                              Hospital & Health Care: Hospital & Health Care
                              Medical Devices: Medical Devices
                              Medical Practice: Medical Practice
                              Mental Health Care: Mental Health Care
                              Pharmaceuticals: Pharmaceuticals
                              Veterinary: Veterinary
                              Automotive: Automotive
                              Aviation & Aerospace: Aviation & Aerospace
                              Chemicals: Chemicals
                              Electrical/Electronic Manufacturing: Electrical/Electronic Manufacturing
                              Furniture: Furniture
                              Industrial Automation: Industrial Automation
                              Machinery: Machinery
                              Mechanical or Industrial Engineering: Mechanical or Industrial Engineering
                              Plastics: Plastics
                              Railroad Manufacture: Railroad Manufacture
                              Shipbuilding: Shipbuilding
                              Textiles: Textiles
                              Broadcast Media: Broadcast Media
                              Media Production: Media Production
                              Motion Pictures and Film: Motion Pictures and Film
[...]
