openapi: 3.2.0
info:
  title: Explorer Inbox Placement Blacklist And Spam Assassin Report…
  description: The entire API V2 documentation is interactive and can be tested here. To the right side of every endpoint you will see a box with an example request. You can click on the "Try it" button to send a request to the server right from the docs. You will need to provide an API key by clicking the `ApiKeyAuth_token` blue text.
  version: 2.0.0
servers:
- url: https://api.instantly.ai
  description: Instantly API Server
security:
- ApiKeyAuth: []
tags:
- name: InboxPlacementBlacklistAndSpamAssassinReport
  description: Report data for an inbox placement test
  x-group: Inbox Placement Blacklist And SpamAssassin Report
paths:
  /api/v2/inbox-placement-reports:
    get:
      operationId: listInboxPlacementBlacklistAndSpamAssassinReport
      summary: List inbox placement blacklist and spamassassin report
      tags:
      - InboxPlacementBlacklistAndSpamAssassinReport
      description: 'Requires one of the following scopes: `inbox_placement_reports:read`, `inbox_placement_reports:all`, `all:read`, `all:all`'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          example: 10
        example: 10
        in: query
        name: limit
        required: false
        description: The number of items to return
      - schema:
          type: string
          example: 01956fbd-0eb1-72db-a565-82977a586084
        example: 01956fbd-0eb1-72db-a565-82977a586084
        in: query
        name: starting_after
        required: false
        description: The ID of the last item in the previous page - used for pagination. You can use the value of the `next_starting_after` field from the previous response.
      - schema:
          type: string
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
        in: query
        name: test_id
        required: true
      - schema:
          type: string
          example: '2026-08-13T11:12:14.361Z'
        example: '2026-08-13T11:12:14.361Z'
        in: query
        name: date_from
        required: false
      - schema:
          type: string
          example: '2026-08-13T11:12:14.361Z'
        example: '2026-08-13T11:12:14.361Z'
        in: query
        name: date_to
        required: false
      - schema:
          type: boolean
          example: false
        example: false
        in: query
        name: skip_spam_assassin_report
        required: false
        description: Flag to skip including spam_assassin_report JSON
      - schema:
          type: boolean
          example: false
        example: false
        in: query
        name: skip_blacklist_report
        required: false
        description: Flag to skip including blacklist_report JSON
      responses:
        '200':
          description: The list of Inbox Placement Blacklist And SpamAssassin Report
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: The list of Inbox Placement Blacklist And SpamAssassin Report
                    items:
                      $ref: '#/components/schemas/InboxPlacementBlacklistAndSpamAssassinReport'
                  next_starting_after:
                    type: string
                    examples:
                    - 019ffad2-9c19-7615-a53a-6de1bd9632b6
                    - '2026-08-13T11:12:14.361Z'
                    description: The filter for getting the next items after this one, this could either be a UUID, a timestamp, on an email depending on the specific API
                    example: 019ffad2-9c19-7615-a53a-6de1bd9632b6
                additionalProperties: false
                required:
                - items
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
  /api/v2/inbox-placement-reports/{id}:
    get:
      operationId: getInboxPlacementBlacklistAndSpamAssassinReport
      summary: Get inbox placement blacklist and spamassassin report
      tags:
      - InboxPlacementBlacklistAndSpamAssassinReport
      description: 'Requires one of the following scopes: `inbox_placement_reports:read`, `inbox_placement_reports:all`, `all:read`, `all:all`'
      parameters:
      - schema:
          type: string
          format: uuid
          example: 019ffad2-9c19-7615-a53a-6de2fc41cc49
        example: 019ffad2-9c19-7615-a53a-6de2fc41cc49
        in: path
        name: id
        required: true
        description: The ID of the requested item
      responses:
        '200':
          description: The requested Inbox Placement Blacklist And SpamAssassin Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxPlacementBlacklistAndSpamAssassinReport'
        '401':
          description: This request is unauthorized (either the Authorization header is missing or invalid, or the API key has been revoked)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 401
                    examples:
                    - 401
                    example: 401
                  error:
                    type: string
                    enum:
                    - Unauthorized
                    examples:
                    - Unauthorized
                    example: Unauthorized
                  message:
                    type: string
                    examples:
                    - Missing Authorization header
                    example: Missing Authorization header
                required:
                - statusCode
                - error
                - message
        '402':
          description: This request cannot be fulfilled because the workspace does not have an active paid plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 402
                    examples:
                    - 402
                    example: 402
                  error:
                    type: string
                    enum:
                    - Payment Required
                    examples:
                    - Payment Required
                    example: Payment Required
                  message:
                    type: string
                    examples:
                    - Workspace does not have an active paid plan
                    example: Workspace does not have an active paid plan
                required:
                - statusCode
                - error
                - message
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 404
                    examples:
                    - 404
                    example: 404
                  error:
                    type: string
                    enum:
                    - Not Found
                    examples:
                    - Not Found
                    example: Not Found
                  message:
                    type: string
                    examples:
                    - Resource not found
                    example: Resource not found
                required:
                - statusCode
                - error
                - message
        '429':
          description: You have exceeded the rate limit. Please check the rate limit docs for more information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: number
                    enum:
                    - 429
                    examples:
                    - 429
                    example: 429
                  error:
                    type: string
                    enum:
                    - Too Many Requests
                    examples:
                    - Too Many Requests
                    example: Too Many Requests
                  message:
                    type: string
                    examples:
                    - Rate limit exceeded
                    example: Rate limit exceeded
                required:
                - statusCode
                - error
                - message
components:
  schemas:
    InboxPlacementBlacklistAndSpamAssassinReport:
      title: Inbox Placement Blacklist And SpamAssassin Report
      description: Report data for an inbox placement test
      x-tags:
      - Schemas
      - InboxPlacementBlacklistAndSpamAssassinReport
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the inbox placement report entry
          readOnly: true
          format: uuid
          example: 019ffad2-5c52-70f7-81a6-709dae117dbb
        timestamp_created:
          type: string
          description: Timestamp when the inbox placement report was created
          readOnly: true
          example: '2026-08-13T11:11:58.034Z'
        timestamp_created_date:
          type: string
          description: Date when the inbox placement report was created
          readOnly: true
          example: '2026-08-13'
        organization_id:
          type: string
          description: Organization ID
          readOnly: true
          format: uuid
          example: 019ffad2-5c52-70f7-81a6-709e680e5268
        test_id:
          type: string
          description: Inbox Placement Test ID
          readOnly: true
          format: uuid
          example: 019ffad2-5c52-70f7-81a6-709f3b185dc1
        domain_blacklist_count:
          type:
          - 'null'
          - number
          description: Count of blacklists the domain is listed on
          readOnly: true
          example: 5
        domain:
          type: string
          description: Domain of the inbox placement report
          readOnly: true
          example: growinstantly.com
        domain_ip:
          type: string
          description: IP address of the domain
          readOnly: true
          example: 192.168.1.1
        domain_ip_blacklist_count:
          type:
          - 'null'
          - number
          description: Count of blacklists the domain IP is listed on
          readOnly: true
          example: 3
        spam_assassin_score:
          type: number
          description: SpamAssassin score for the email, indicating spam likelihood
          readOnly: true
          example: 2.5
        spam_assassin_report:
          type: object
          description: Detailed SpamAssassin analysis report
          readOnly: true
          properties:
            is_spam:
              type: boolean
              description: Indicates if the message is classified as spam by SpamAssassin
              example: false
            report:
              type: array
              description: List of individual SpamAssassin rule evaluations
              items:
                type: object
                properties:
                  description:
                    type: string
                    description: The section or type of the rule triggered
                    example: BODY
                  name:
                    type: string
                    description: The name of the SpamAssassin rule
                    example: HTML_MESSAGE
                  score:
                    type: string
                    description: The score assigned to this rule evaluation
                    example: '0.0'
                required:
                - description
                - name
                - score
            spam_score:
              type: integer
              description: Overall spam score assigned to the message by SpamAssassin
              example: 0
        blacklist_report:
          type: object
          description: Detailed blacklist report for the domain or IP
          readOnly: true
          properties:
            address:
              type: string
              description: The address or domain associated with the report
              example: growinstantly.com
            blacklisted_count:
              type: integer
              description: The count of blacklists the address is listed on
              example: 5
            details:
              type: array
              description: List of individual blacklist details
              items:
                properties:
                  blacklist:
                    type: string
                    description: The name of the blacklist
                    example: zen.spamhaus.org
                  is_listed:
                    type: boolean
                    description: Whether the address is listed on this blacklist
                    example: true
                  test_type:
                    type: string
                    description: The type of test
                    example: ip
                type: object
            ip:
              type: string
              description: The IP address associated with the blacklist check
              example: 104.21.62.47
            is_blacklisted:
              type: boolean
              description: Overall status indicating if the address is blacklisted
              example: true
            is_domain:
              type: boolean
              description: Whether the address is a domain
              example: true
      required:
      - id
      - timestamp_created
      - timestamp_created_date
      - organization_id
      - test_id
      - domain
      - domain_ip
      - spam_assassin_score
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
